{% extends "base.j2" %}
{% block content %}
<section class="bw-failure" data-bw-failure="{{ failure.code }}">
  <h2>{{ failure.code }}</h2>
  {{ refusal_html }}
  <p class="bw-failure__message" data-bw-failure-message>{{ failure.message }}</p>
  <p class="bw-failure__correlation">Correlation id: <code data-bw-correlation-id>{{ failure.correlation_id }}</code></p>
</section>
{% endblock %}
